/* 태블릿 */

@media all and (min-width:768px) and (max-width:1024px) {

    /* header */
    
    header, .center {width: 100%;}
        
    .logo {width: 30%; margin-left: 30px;}
    
    .topmenu, nav {display: none;}
    
    /* nav */
        
    .m_icon, .m_icon>a, #m_gnb, #m_gnb a, .m_sub a, .btn_close {display: block;}
    
    .m_icon {position: absolute; top: 40px; right: 30px;}    

    .m_icon.on {display: none;}
    
    .m_gnb_wrap.on #m_gnb {right: 0%;}

    .m_gnb_wrap.on .btn_close {right: 50%; z-index: 10000;}
    
    .btn_close {position: fixed; top: 0; right: -100%; transition: 0.5s;}
        
    #m_gnb {position: fixed; top: 0; right: -100%; z-index: 9999; background-color: rgba(78,78,78,0.9); width: 50%; height: 100%; overflow-y: scroll; transition: 0.5s;}
    
    #m_gnb>li>a {color: #fff; font-size: 1.7em; text-transform: uppercase; line-height: 2.5; text-indent: 40px;}
    
    .m_sub {opacity: 0; height: 0px; position: static; background-color: rgba(255,255,255,0.2); transition: 0.5s;}

    .m_sub.on {opacity: 1; height: 100%;}
    
    .m_sub>li {border-bottom: 1px solid #dadada;}
    
    .m_sub>li>a {color: #fff; font-size: 1.5em; line-height: 2.5; text-indent: 40px;}
    
    /* visual */
    
    #visual, .ban{height:40vw;}
    
    .ban>p, .ban span{margin:20% 0; font-size:3vw; text-align: center; text-shadow: 1px 1px rgba(0,0,0,0.4);}
    
    /* container top */
    
    .product>div {display: flex; flex-wrap: wrap;}
    
    .product_box {margin: 1.5% auto 0%; float: none;}
    
    .product_top {justify-content: flex-start;}
    
    .product_bot {justify-content: flex-end;}
    
    .floor {order: 1; margin-top: 0;} .stone {order: 3;}
    .wallpaper {order: 2;} .windows {order: 4;}
    
    /* container bottom */
    
    .board>div {display: flex; flex-wrap: wrap;}
    
    .board_box {margin: 20px auto 0; float: none; justify-content: center; width: 600px;}
    
    .clip {margin-top: 0;}
    
    .co_info, .service {padding-left: 0;}
    
    /* footer */
    
    .tail>div{padding:2% 0 7%;}
    
    .foot_logo {width: 30%; margin-left: 30px;}
    
    .foot_menu {width: 35%;}
    
    form {width: 24%;}
    
    small {position: absolute; bottom: 0; left: 40px; line-height: 1.5;} }
    
    /* 모바일 */
    
    @media all and (max-width:767px) {
    
    /* 100% 만들기 */
    header, .center {width: 100%;}
    
    /* display none 시키기 */
    
    .topmenu, nav {display: none;}
    
    /* header */
    
    .main {position: relative;}
    
    .logo {width: 30%; margin: 3vw 0;}
    
    .logo img {width: 100%; height: 100%;}
    
    .m_icon {width: 5%; margin: 2.5vw 0;}
    
    .m_icon img {width: 100%; height: 100%;}
    
    /* nav */
    .m_icon, .m_icon>a, #m_gnb, #m_gnb a, .m_sub a, .btn_close {display: block;}    

    .m_icon.on {display: none;}
    
    .m_gnb_wrap.on #m_gnb {right: 0%;}

    .m_gnb_wrap.on .btn_close {right: 50%; z-index: 10000;}
    
    #m_gnb {position: fixed; top: 0; right: -100%; z-index: 9999; background-color: rgba(78,78,78,0.9); width: 50%; height: 100%; overflow-y: scroll; transition: 0.5s;}
    
    #m_gnb>li>a {color: white; font-size: 1.4em; text-transform: uppercase; line-height: 2.3; text-indent: 15px;}
    
    .m_sub {position: static; background-color: rgba(255,255,255,0.2);}
    
    .m_sub>li {border-bottom: 1px solid #dadada;}
    
    .m_sub>li>a {color: #fff; font-size: 1.2em; line-height: 2.5; text-indent: 15px;}
        
    .m_icon {position: absolute; top: 20%; right: 3%;}
        
    .btn_close {position: fixed; top: 0; right: -100%; transition: 0.5s;}
    
    /* banner */
    #visual, .ban {height: 40vw;}
    
    .ban>p, .ban span {margin: 20% 0; font-size: 3vw; text-align: center; text-shadow: 1px 1px rgba(0,0,0,0.4);}
    
    .btn_banner {bottom: 5px;}
    
    /* container */
    
    /* container top */
    .product {margin: 10px 0 0;}
    
    .product_box {width: 50%;}
    
    .product_box>div {margin: 5% auto;}
    
    .product_box>a>.img {width: 100%; background-image: none; background-repeat: no-repeat; background-position: center; background-size: cover; background-color: #3c3c3c;}
    
    .img>img {width: 100%; height: auto; opacity: 0.5;}
    
    .product_top .linetop, .product_bot .linebot, .product_box:after {display: none;}
    
    .product_box>a>.mobile {display: block; position: absolute; top: 3.5vw; left: 3.5vw; width: 80%; color: #fff; font-size: 4vw; border: 2px solid #dadada; text-align: center; padding: 15.5vw 1vw 17vw;}
    
    /* container bottom */
    .board {margin: 0; padding: 0; background-color: #fff;}
    
    .board>div {margin: 0 auto;}
        
    .board_box {width: 100%; margin-top: 10px;}
    
    .clip {height: 50vw;}
    
    .clip>img {height:100%;}
    
    .co_info {padding-left: 0%;}
    
    .co_info>div {width: 50%; height: 15vw; padding:0; margin: 0; border-radius: 15vw; background-color: transparent; border: 1px solid #8a8a8a; cursor: pointer;}
    
    .co_info>div>h3 {font-size:4vw; padding:0; line-height: 15vw; color: #8a8a8a;}
    
    .co_info>div>p {display:none;}
    
    .co_info>div>a {display: none;}
    
    .promote>div {width: 100%;}
    
    .news {width: 100%; padding-bottom: 10%; border-right: 0 none; border-bottom: 1px dashed #e8ded7;}
    
    .service {padding-left: 0;}
    
    .service>div {width: 100%; height: 50vw; margin: 0; padding: 5vw; background-position: center; cursor: pointer;}
    
    .service a {display: none;}
    
    .service h3>img {width: 20%; height: 20%;}
    
    .service p:nth-child(2) {font-size: 5vw;}
    
    .service p:nth-child(3) {font-size: 3vw;}
    
    /* footer */
    
    .tail {margin-top:10px;}
    
    .tail>div {padding: 0;}
    
    .foot_logo {float: none; width: 30%; margin: 10px 0;}
    
    .foot_logo img {width: 100%; height: 100%;}
    
    .foot_menu {display: none;}
    
    small {line-height: 1.5;}
    
    .tail>div {position: relative;}
    
    form {float: none; position: absolute; top: 0; right: 0; margin-top: 0;} }